* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2; }

.card {
  margin: 15px;
  width: 100%;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: #f2f2f2; }
  .card img {
    width: 260px;
    height: 260px;
    border-radius: .80rem;
    margin-left: 23px; }
  .card h3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem; }
  .card p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #222f3e; }

.titulo-carrito {
  text-align: center;
  margin-top: 5px; }

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
  padding-right: 1.5rem;
  border-radius: 1rem;
  margin: 10px;
  width: 80rem; }
  .carrito-producto .carrito-producto-cantidad {
    text-align: center; }
  .carrito-producto h3 {
    font-size: .75rem; }
  .carrito-producto .carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem; }
  .carrito-producto small {
    font: .75rem; }
  .carrito-producto .carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red; }

.carrito-total {
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }
  .carrito-total #vaciarCarrito {
    border: 0;
    background-color: #d33e43;
    color: white;
    padding: .75rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 15px; }
  .carrito-total #total {
    margin-right: 20px;
    font-size: 1rem; }

.text-footer {
  padding: 30px;
  background-color: #212529;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-around; }
  .text-footer a {
    color: white;
    text-decoration: none;
    margin: 10px; }
  .text-footer li {
    list-style: none; }

@media (min-width: 768px) {
  .text-footer a:hover {
    color: #7a7a7a;
    transition: all .50s ease; } }

.cabecera {
  width: 100%;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all .50s ease; }
  .cabecera .icon {
    color: #222f3e;
    margin-right: 10px;
    font-size: 23px; }
  .cabecera .logo a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px; }
  .cabecera .texto {
    color: #222f3e;
    font-size: 30px;
    font-weight: 700; }
  .cabecera .navbar {
    display: flex;
    list-style: none; }
    .cabecera .navbar a {
      color: #222f3e;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 5px 0;
      margin: 0 30px;
      text-decoration: none; }
    .cabecera .navbar :hover {
      color: #d33e43;
      transition: all .50s ease; }
    .cabecera .navbar .active {
      color: #d33e43; }

.btn {
  text-align: center;
  font-size: 16px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #D33E43; }

.botonCarrito {
  text-align: center;
  font-size: 16px;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: 0;
  cursor: pointer;
  margin-top: 5px;
  border-radius: .5rem;
  background: #D33E43; }
  .botonCarrito .iconCarrito {
    color: white;
    margin: 10px;
    font-size: 23px; }

.btnComprar {
  border: 0;
  background-color: #d33e43;
  color: white;
  padding: .75rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 15px;
  margin-left: 10px; }

@media (min-width: 600px) {
  .card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px); } }

@media (max-width: 600px) {
  .cabecera {
    flex-direction: column; }
    .cabecera .navbar {
      flex-direction: column; }
  .card {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%; }
    .card img {
      width: 250px;
      height: 250px;
      margin: 0 auto; }
  .carrito-producto {
    width: 95%; }
    .carrito-producto .carrito-producto-titulo {
      margin-right: 15px; }
    .carrito-producto .carrito-producto-cantidad {
      margin: 15px; }
    .carrito-producto .carrito-producto-precio {
      margin: 15px; }
  .carrito-total {
    flex-direction: column;
    align-items: center; }
  .text-footer {
    flex-direction: column-reverse; }
    .text-footer span {
      margin-top: 15px; } }

@media (max-width: 1024px) {
  .cabecera {
    flex-direction: column; }
  .card img {
    margin: 0 auto; }
  .carrito-producto {
    width: 90vw; } }
